<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Moviefinder</title>
</head>
<body>
    <h1>MovieFinder Search Results</h1>

	<h2><%= @movie.title %></h2>
	<p><%= @movie.plot %></p>

	<form>
  	<input type="search" name="title">
	</form>
</body>
</html>